name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get dependencies
      run: |
        cd container
        go get -v -u cloud.google.com/go/storage
        go get -v -u github.com/gorilla/mux
        go get -v -u github.com/mr-tron/base58

    - name: Build
      run: GCO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -v -tags netgo -a -installsuffix cgo -o server
